@import "breakpoints/include-media";

.appBar {
  display: flex;
  justify-content: space-between;
  border-radius: 0;
  border: none;
  background-color: white;

  .leftElements {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .menuBtn {
      width: 2.5rem;
      height: 2.5rem;

      @include media('>S') {
        display: none;
      }
    }
  }

  .rightElements {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    .btn-auth {

    }

    .profile {
      cursor: pointer;
    }
  }
}

.nav-link-bar {
  gap: .5rem;
  display: flex;
  align-items: center;
  color: #535353;
  font-weight: 600;
  transition: all 150ms linear;

  svg {
    color: #868686;
    transition: all 150ms linear;
  }

  a {
    color: inherit;
    font-weight: inherit;
  }

  &:hover {
    color: var(--primary);

    svg {
      color: inherit;
    }
  }
}

.nav-link-bar.active {
  color: var(--primary);
  svg {
    color: inherit;
  }
}

.menu-nav-bar {
  gap: 1rem;
  display: flex;
}