.card {
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.1);

  .header {

  }

  .body {
    padding: 1rem;
  }

  .footer {

  }
}

.card.wish {
  .p-card-body, .p-card-content {
    padding: 0;
  }

  .header {
    .wrap-header {
      position: relative;
    }

    .gift-label {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      width: 96px;
      height: 96px;
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      padding: 0.75rem;
      color: white;
      background: linear-gradient(-135deg, var(--primary-color) 48px, rgba(255, 255, 255, 0) 0);
      transition: padding 200ms ease-in-out;

      .icon {
        transition: all 200ms ease-in-out;
      }

      &:hover {
        padding: 0.55rem;

        .icon {
          font-size: 1.25rem;
        }
      }
    }

    .img {
      width: 100%;
      object-fit: cover;
      border-radius: .5rem .5rem 0 0;
    }

    .btn-add {
      top: .5rem;
      right: .5rem;
      position: absolute;
      box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.3);
    }
  }

  .body {
    .title {
      padding: 0;
      margin-bottom: 1rem;
    }

    .description {

    }

    .price {
      font-size: 1.5rem;
      font-weight: 700;
      text-align: end;
    }

    .gift {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--primary-color);
      text-align: center;
      margin-top: 1rem;
    }
  }
}