.wrap-widget {
  .fixed {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    overflow: hidden;

    .badge {
      right: .5rem;
      z-index: 99;
      position: fixed;
    }

    .btn-confirm {
      &:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
        animation: state 2.4s linear infinite;
      }

      &:hover {
        &:after {
          left: 120%;
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
    }
  }
}

@keyframes state {
  0% {
    left: -300px;
  }
  30% {
    left: -75px;
  }
  70% {
    left: 120%;
  }
  100% {
    left: 200%;
  }
}