/*@import "styles/theme.css";*/
@import 'primeicons/primeicons.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeflex/primeflex.css';



@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: #23252a;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    /*background-color: var(--foreground-rgb);*/
    color: white;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
