.market-place {
  font-size: .65rem;
  color: white;
  padding: .2rem .4rem;
  border-radius: .3rem;


  &:before {
    padding-right: .2rem;
  }
}

.market-place.ozon {
  background: #0068fd;
  box-shadow: #0068fd 0 1px 5px 1px;
}

.market-place.wb {
  background: linear-gradient(90deg, rgba(214, 0, 255, 1) 0%, rgba(119, 0, 255, 1) 100%);
  box-shadow: #d600ff  0 1px 5px 1px;
}