.likes {
  gap: 1rem;
  display: flex;
  justify-content: center;

  .counter {
    display: flex;
    align-items: center;

    .val {
      font-weight: 600;
    }

    .btn {
      &:focus {
        box-shadow: none;
      }
    }

    .un-selected {
      color: #989bab;
    }
  }
}