.form-giver {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 320px;

  .group {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 500;
    }

    .input  {
      font-weight: 500;
      color: var(--text-color);
    }

    .textarea  {
      color: var(--text-color);
    }
  }
}

.controls {
  right: 2rem;
  bottom: 2rem;
  position: fixed;
}