@import "breakpoints/include-media";

.dashboardLayout {
  .main {
    display: flex;

    @include media('<=S') {
      display: flex;
      flex-direction: column;
    }

    .navigation {
      @apply p-4;

      min-width: 240px;
    }

    .content {
     @apply p-4;
    }
  }
}