@import "../breakpoints/include-media";

$min-width-phone: 320px;

.appbar {
  height: var(--height-appbar);
  position: fixed;
  width: 100%;
  z-index: 1102;

  .p-toolbar{
    height: 70px !important;
  }

  @include media('<=XS') {
    min-width: $min-width-phone;
    .buttonDirect {
      color: red;
    }
  }

  @include media('>XS', '<=425px') {

  }

  @include media('>425px', '<=S') {

  }

  @include media('>S', '<=M') {

  }

  @include media('>L', '>=XL') {

  }
}


