html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--text-color)
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.sliderSplitter div.p-splitter-gutter {
    background: #ddd9ed;
    transition: background-color 0.2s linear;
}

.sliderSplitter div.p-splitter-gutter div.p-splitter-gutter-handle {
    background: #b7a6ff
}

.sliderSplitter div.p-splitter-gutter:hover {
    background-color: #bcb2dc;
    transition: background-color 0.2s linear;
}

:root {
    --white-color: #ffff;
}

.p-toolbar {
    /*background: #1c1c38 !important;*/
    /*border-color: transparent;*/
    border-bottom: 1px solid #dadada;
    border-radius: 0 !important;
}

.heading1 {
    font-size: 3rem;
    font-weight: 700;
}

.heading2 {
    font-size: 2rem;
    font-weight: 700;
}

.heading3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.heading4 {
    font-size: 1.25rem;
    font-weight: 700;
}

.subHead1 {
    font-size: 2rem;
    font-weight: 400;
}

.subHead2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.subHead3 {
    font-size: 1.25rem;
    font-weight: 400;
}

.subHead4 {
    font-size: 1rem;
    font-weight: 400;
}

.body1 {
    font-size: 1rem;
    font-weight: 400;
}

.body1 {
    font-size: 1rem;
    font-weight: 400;
}

.body2 {
    font-size: .875rem;
    font-weight: 400;
}

.caption {
    font-size: .75rem;
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.mono {
    font-feature-settings: 'tnum' on, 'lnum' on;
}
