@import "variables.module";

.Section {
  width: 100%;


  //display: flex;
  //margin: auto;
  //align-items: center;
  //justify-content: space-between;
}

.PresentSection {
  background-color: $sectionColor1;
  color: var(--white-color);

  .imgLanding {
    border-radius: calc(var(--border-radius) * 4);
  }
}


.RowColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
