.ContainerColumn {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4em;
  padding-top: 4em;

  .BlockSection {
    display: block;
  }
}

.RowColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.ContainerPage {
  max-width: 1140px;

}

