
.checkout {
  position: relative;
  margin: 30px;
  width: 300px;
  min-height: 250px;
  background: #e2e3de;
  padding: 4px 10px;
  box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.checkout svg{
  position: absolute;
  top: -3px;
  left: 2px;
  width: 100%;
}

.info{
  text-align: center;
}

.info span{
  font-size: 12px;
  line-height: 2px;
  margin: 0;
}

.checkout ul{
  margin: 0;
  padding: 0;
}

.checkout ul li{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px dotted #000;
}

.res{
  text-align: right;
  padding: 10px 20px;
}

.footer {
  svg {
    position: absolute;
    left: -2px;
    width: 100%;
    top: auto;
    transform: rotate(180deg);
  }
}

.cardPayment {
  .scrollBar {
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background: #e0e0e0;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-400);
      border-radius: 20px;
    }
  }
}




