@import "../breakpoints/include-media";

$min-width-phone: 320px;

.toolbar {
  z-index: 1102;

  @include media('<=XS') {
    min-width: $min-width-phone;
    .buttonDirect {
      color: red;
    }
  }

  @include media('>XS', '<=425px') {

  }

  @include media('>425px', '<=S') {

  }

  @include media('>S', '<=M') {

  }

  @include media('>L', '>=XL') {

  }
}


